/* ---------------------reset------------------- */
body {
	font:normal 18px 'Source Sans Pro', sans-serif, Arial, Verdana;
	font-weight:400;
	line-height:1.6;
	color:#1c1b20;
	background-color:#fff;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 { font-size:1em; }
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
li{  list-style:none;  }
ul, ol{  list-style:none;  }
a{  text-decoration:none; color:#000;  }
img{ vertical-align:top; } /* img가 베이스라인만큼 떠있는 것을 없애줌 */
table{ width:100%; border-collapse:collapse; }
strong, em{ font-style:normal; font-weight:400; }
button{ border:none; padding:0; background-color:transparent; cursor:pointer;  }
button:focus{ outline:none; }


/* ---------------------common------------------- */
.clear:after{ content:''; display:block; clear:both; }
button{ border-radius:10px; margin:50px auto 0; padding:15px 30px; font-size:50px; box-shadow:3px 3px 4px rgba(0, 0, 0, .5); display:block; transition:all .3s ease-out; }
button:hover{ transform:scale(1.05, 1.05); }


/* ---------------------content------------------- */
.content{ width:500px; background-color:#fdf5e4; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); }
h1{ outline:1px solid red; font-size:30px; text-align:center; }
.result{ outline:1px solid lime; text-align:center;  }

.btnBox{ outline:1px solid red; }

.btnBox > button.click{  color:#fff; background-color:#3734e9; }
.btnBox.choose > button.click{ display:none; }

.btnBox > .afterBtns{ outline:1px solid blue; margin:50px 0 0; display:;  }
.btnBox > .afterBtns > button{ width:220px; margin:0 13px; font-size:30px; display:inline-block; }
.btnBox > .afterBtns > button.ok{ color:#3734e9; background-color:#fff; }
.btnBox > .afterBtns > button.replay{  color:#fff; background-color:#3734e9;  }
.btnBox.choose > .afterBtns{ display:block; }


